<?xml version="1.0"?>
<launch>

    <node name="bag_play" pkg="rosbag" type="play" args="$(find fsd_common_msgs)/bag/cone_detected.bag -l" output="screen"/>
    <node name="projector" pkg="coneprojection" type="coneprojection_node" output="screen"/>
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find coneprojection)/config/vis.rviz" />
    
</launch>